/*------  WEATHER  ------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*--- SIDE NAVOGATION --------*/

body {
  background-color: #0E6248;
}


.footer {
  overflow: hidden;
  position: fixed;
  /*Set the navbar to fixed*/ 
  bottom: 0;
  /*Position the navbar at the top of the page*/ 
  width: 100%;
  /*Full width */
  background-color: rgba(1, 2, 1, 0.98);
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.footer a {
  /*display: flex;
  justify-content: space-around;*/
  color: white;
  font-size: 20px;
}

@media only screen and (orientation: portrait) {


  .contenedor {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .actualCity {
    overflow: hidden;
    position: fixed;
    /*Set the navbar to fixed position */
    top: 0;
    /*Position the navbar at the top of the page*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 8%;
    color: aliceblue;
    background-color: #0E6248;
  }

  .severalCity {
    height: 85px;
    display: flex;
    justify-content: space-around;

  }
  .severalCity > div {
    border-radius: 3px;
    margin: 0.5px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 50%;
  }
  .icon2 {
    width: 90%;
  }
  .cityName {
    background: #EFFFAD;
    width: 60%;
  }
  .cityName h3 {
    margin: 1px;
    color: rgba(138, 155, 67, 0.81);
    font-size: 25px;
    font-weight: bold;
  }

  .detalleCity {
    background: #D9E687;
    width: 40%;
    justify-content: flex-end;
  }
  .detalleCity h3 {
    margin: 1px;
    font-size: 30px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }

  #mainSelectedCity {
    display: none;
  }
  .selectedCity {
    background: #D9E687;
    height: 205px;
    display: flex;
    justify-content: space-around;

  }
  .selectedCity > div {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .selectedCityName h3 {
    margin: 1px;
    font-size: 65px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }
  .selectedCityName h5 {
    margin: 1px;
    font-size: 15px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }

  .selectedDetalleCity h5 {
    margin: 1px;
    font-size: 15px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }

  .searchCity {
    padding: 5px;
    display: flex;
    /*align-items: center;*/
    justify-content: flex-end;
  }
  .searchBar {
    background: #EFFFAD;
    padding-left: 10px;
    height: 35px;
    width: 88%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px 0px 0px 20px;
    /*box-shadow: 20px 5px 13px #888888;*/
  }
  .myBtn {
    margin: 0px;
    top: 0px;
    background: #EFFFAD;
    height: 35px;
    width: 12%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
  }

  .scrollingwrapper {
    background: #EFFFAD;
    margin: 1px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .temp {
    display: inline-block;
    width: 16%;
    padding: 5px;
  }

  .detail {

    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .detail h5 {
    color: rgba(138, 155, 67, 0.81);
    font-weight: bolder;
    margin: 4px;
  }
  .iconDetail {
    width: 90%;
  }

  .filterByDay {
    margin: 1px;
    background: #D9E687;
    display: flex;
    justify-content: center;
  }
  .detalleDay {
    padding-left: 10px;
    /*border-bottom: 1px solid rgba(240, 248, 255, 0.44);*/
    display: flex;
    align-items: center;
    flex: 2;
  }
  .filterByDay h5 {
    color: rgba(138, 155, 67, 0.81);
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
  }
  .detalleDay2 {
    padding-right: 10px;
    /*border-bottom: 1px solid rgba(240, 248, 255, 0.44);*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
  }

}


@media only screen and (orientation: landscape) {

  .contenedor {
    margin-top: 50px;
    border: 5px solid yellow;
  }

  .actualCity {
    overflow: hidden;
    position: fixed;
    /*Set the navbar to fixed position */
    top: 0;
    /*Position the navbar at the top of the page*/
    width: 100%;
    border: 5px dashed red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    color: aliceblue;
    background-color: #0E6248;
  }

  .severalCity {
    height: 85px;
    display: flex;
    justify-content: space-around;

  }
  .severalCity > div {
    border: 2px dashed red;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 50%;
  }
  .icon2 {
    width: 90%;
  }
  .cityName {
    background: #EFFFAD;
    width: 60%;
  }
  .cityName h3 {
    margin: 1px;
    color: rgba(138, 155, 67, 0.81);
    font-size: 25px;
    font-weight: bold;
  }

  .detalleCity {
    width: 40%;
    justify-content: flex-end;
  }
  .detalleCity h3 {
    margin: 1px;
    font-size: 30px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }

  .selectedCity {
    height: 240px;
    display: none;
    justify-content: space-around;

  }
  .selectedCity > div {
    border: 2px dashed red;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .selectedCityName h3 {
    margin: 1px;
    font-size: 65px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }
  .selectedCityName h5 {
    margin: 1px;
    font-size: 15px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }

  .selectedDetalleCity h5 {
    margin: 1px;
    font-size: 15px;
    color: rgba(102, 128, 16, 0.54);
    font-weight: bold;
  }

  .searchCity {
    border: 3px solid red;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBar {
    background: #EFFFAD;
    padding-left: 10px;
    height: 30px;
    width: 70%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 20px 5px 13px #888888;
  }
  .myBtn {
    margin: 0px;
    top: 0px;
    background: #EFFFAD;
    height: 30px;
    width: 12%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
  }

  .scrollingwrapper {
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .temp {
    display: inline-block;
    width: 16%;
  }

  .detail {

    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .detail h5 {
    color: rgba(138, 155, 67, 0.81);
    font-weight: bolder;
    margin: 4px;
  }
  .iconDetail {
    width: 90%;
  }

  .filterByDay {
    display: flex;
    justify-content: center;
  }
  .detalleDay {
    padding-left: 10px;
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    display: flex;
    align-items: center;
    flex: 2;
  }
  .filterByDay h5 {
    color: rgba(138, 155, 67, 0.81);
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
  }
  .detalleDay2 {
    padding-right: 10px;
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
  }


}
